<div class="row">
  <div class="col-10 offset-1">
    <h1 class="heading">Colors</h1>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Color</th>
          <th>Votes</th>
        </tr>
      </thead>
      <tbody>
        <% @colors.each do |color| %>
          <tr>
            <td><a class="color" data-id="<%= color.id %>"><%= color.name %></a></td>
            <td class="votes" id="color-<%= color.id %>"></td>
          </tr>
        <% end %>
        <tr>
          <td><a class="total">Total</a></td>
          <td id="total"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
